# ignore folders
data-texts-English/
data-texts-Japanese/
NLP30-spell-sound/
plots/
term-list-*/
terms-saved/
TwentyNewsgroups/

# ignore .ipynb files
*.ipynob
# but include
!LDA-*.ipynb

# ignore .R files
*.R
# but include
!LDA-*.R

# ignore .txt files
*.txt

# ignore .pdf files
*.pdf
