# folders to ignore
__pycache__/
.ipynb_checkpoints/
1k-most-common-words/
data-texts-English/
data-texts-Japanese/
NLP30-spell-sound/
plots/
term-list-*/
terms-saved/
TwentyNewsgroups/
# pseudo files to ignore
data-texts-English
1k-most-common-words
# files to ignore
*.R
*.Rproj
*.txt
*.pdf
*.ipynb
# but include
!LDA-spell-sound.ipynb
